/* this is style */

.my-p1 {
    font-size: 17px;
    width: 313px;
    height: 400px;
    padding: 20px 40px 50px 20px;
    border: 10px solid red;
    float: left;
    margin: 5px;
}

.my-p2 {
    font-size: 17px;
    color: white;
    background-color: rgb(75, 0, 130);
    border-right: 10px dotted red;
    border-left: 10px dotted red;
    width: 313px;
    height: 400px;
    float: left;
    padding: 20px 40px 50px 20px;
    margin: 10px;
}

.my-p3 {
    font-size: 17px;
    color: white;
    background-color: thistle;
    padding: 20px 40px 70px 20px;
    border-top: 10px dashed red;
    border-bottom: 10px solid red;
    float: left;
    width: 313px;
    height: 400px;
    margin: 15px;
}